<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/salvarEstado" th:object="${estado}" method="post">

    <label>Nome do estado</label>
    <input type="text" th:field="*{nome}"/>

    <label>Sigla do estado</label>
    <input type="text" th:field="*{sigla}"/>

    <input type="hidden" th:field="*{id}"/>

    <button type="submit"> Salvar </button>
</form>
</body>
</html>